<!-- TODO: What do we want in a footer, perhaps a little team-name and logo? -->
<footer class="footer">
  <div>
    <span class="iconify" data-icon="arcticons:ewesticker"></span>
    <p class="team_name">TEAM WEST</p>
  </div>
</footer>
