<nav>
  <h1><a href="/">Lighthouse Marketplace</a></h1>
  <div id="nav-buttons">
    <a href="/api/mylistings/">My Listings</a>
    <a href="/api/favorites/">Favourites</a>
    <a href="/api/mymessages">Messages</a>
  </div>
</nav>
<form action="/api/users/logout" method="POST">
  <button id="logout" type="submit" href="/api/users/logout">Logout</button>
</form>
