<!DOCTYPE html>
<html lang="en">

<head>
  <title>Edit Listing</title>
  <%- include('partials/head'); %>
</head>

<body>
  <header>
    <%- include('partials/nav')%>
  </header>

  <section class="listing-form">
    <div class="form-name">
      <h2> Bright Changes are a' Coming! </h2>
    </div>

    <form action="/api/mylistings/<%= item_id %>/edit" method="POST">

      <label for="title">Catchy headline:</label>
      <input type="text" id="title" name="title">

      <label for="price">Price (Dollars)</label>
      <input type="text" id="price" name="price">

      <label for="description">Tell us more...</label>
      <textarea type="text" name="description" id="description" cols="30" rows="10"></textarea>

      <label for="photo_url">Link to your listing photo:</label>
      <input type="text" id="photo_url" name="photo_url">

      <button type="submit">Save Changes</button>
    </form>
  </section>


  <footer>
    <%- include('partials/footer')%>
  </footer>
</body>

</html>
