<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>
  <%- include('partials/head'); %>
</head>

<body>

  <header>
    <%- include('partials/nav')%>
  </header>

  <form action="/api/mylistings/<%= item_id %>/edit" method="POST">
    <div>
      <label for="photo_url">Link to your listing photo:</label>
      <input type="text" id="photo_url" name="photo_url">
    </div>
    <div>
      <label for="title">Catchy headline:</label>
      <input type="text" id="title" name="title">
    </div>
    <div>
      <label for="description">Tell us more...</label>
      <textarea type="text" name="description" id="description" cols="30" rows="10"></textarea>
    </div>
    <div>
      <!-- TODO: Assumption here! Looks like the seed data is all even dollars, is that correct?  -->
      <label for="price">Price (Dollars)</label>
      <input type="text" id="price" name="price">
    </div>
    <!-- QUESTION: Is catch of the day something we want users to be able to set themselves? -->
    <div>
      <label for="is_featured">Catch of the Day</label>
      <input type="checkbox" id="is_featured" name="is_featured">
    </div>

    <button type="submit">Save Changes</button>

  </form>

  <footer>
    <%- include('partials/footer')%>
  </footer>
</body>

</html>
