<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

<%- include('partials/head'); %>
</head>


<body>
  <div class="listing-tiles">
    <% for (let item of items) { %>
      <div class="tile">
        <a href="/api/items/<%=item.id%>"><%= item.id %></a>
        <p> <%= item.name %></p>
      </div>
    <% } %>
  </div>
</body>

</html>
