<!DOCTYPE html>
<html lang="en">

<head>
  <title>Marketplace Listing</title>
  <%- include('partials/head'); %>
</head>

<body>
  <p><%= item.id %></p>
  <p><%= item.title %></p>
  <p><%= item.description %></p>
</body>

</html>
