<!DOCTYPE html>
<html lang="en">

<head>
  <title>My Listings</title>
  <%- include('partials/head'); %>
</head>

<body>
  <% for (let listing of listings) { %>
    <p> <%= listing.title %></p>
    <p> <%= listing.price %></p>
    <p> <%= listing.descriptions %></p>
  <% } %>
</body>

</html>
