<!DOCTYPE html>
<html lang="en">

<head>
  <title>My Listings</title>
  <%- include('partials/head'); %>
</head>

<body>
  <header>
    <title>Messages</title>
    <%- include('partials/nav')%>
  </header>


<main>
    <% for (const contact of messageFeeds) {%>
    <a href="#">
      <!-- We should use contact.id to define an endpoint that shows all the messages with one party -->
      <%= contact.name %>
    </a>
    <% } %>
  </main>

  <!-- SCIENCE TOWN CASUALTY -->

      <p>Messages with placeholder_name</p>
      <div>
        <p>OR</p>
        <a href="mailto:PLACEHOLDER_EMAIL@EMAIL.COM">PLACEHOLDER_EMAIL</a>,
        <a href="sms:PLACEHOLDER_PHONE">PLACEHOLDER_PHONE</a>
      </div>
    </div>


    <!-- SPACE FOR NEW MESSAGE INPUT -->
    <form action="/api/messages" method="POST">
      <input type="text" name="message" id="message" placeholder="Type new message here">
      <button type="submit">
        <span class="iconify" data-icon="akar-icons:send"></span>
      </button>
    </form>
  </section>
  <section>
    <p>other recent chats</p>
    <!-- TODO: Endpoint determination!  -->
    <a href="#">Buyer A</a>
    <a href="#">Buyer B</a>
    <a href="#">Seller C</a>
  </section>

  </main>
    <%- include('partials/footer')%>
  </footer>
</body>
</html>
