<!DOCTYPE html>
<html lang="en">

<head>
  <title>My messages</title>
  <%- include('partials/head'); %>
</head>

<body>
  <header>
    <%- include('partials/nav')%>
  </header>

  <section>
    <h2> Create your new message </h2>
    <form action="/api/messages" method="POST">
      <label for="receiver_id">Receiver ID</label>
      <input type="text" name="receiver_id" placeholder="receiver_id">
      <label for="item_id">Item ID</label>
      <input type="text" name="item_id" placeholder="item_id">
      <label for="content">Content</label>
      <input type="text" name="content" placeholder="content">
      <button type="submit" id="new-item-button">
        <span class="iconify" data-icon="akar-icons:send"></span>
      </button>
    </form>
  </section>

  <footer>
    <%- include('partials/footer')%>
  </footer>
</body>

</html>
