$title-font-stack: 'Lobster', cursive;
$body-font-stack: 'Andika New Basic', sans-serif;
$sea-serpent: #4DC1C4;
$sea-serpent-transparent: #4DC1C470;
$off-white: #FCFCFC;
$gray: #C4C4C4;
$gray-transparent: #C4C4C470;

.compose-message {

  #chat-box {
    display: inline-flex;
    flex-direction: row;
    align-items: space-between;
    width: 80%;
  }

  input {
    width: 80%;
    height: 3rem;
    text-align: left;
  }

  form {
    margin-bottom: 0;
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 3rem;
    border: none;
    border-radius: 50%;
    background-color: $sea-serpent;
    margin-left: 1rem;

    &:hover {
      background-color: $gray-transparent;
    }

    &:active {
      color: $off-white;
    }

  }
}
