$title-font-stack: 'Lobster', cursive;
$body-font-stack: 'Andika New Basic', sans-serif;
$sea-serpent: #4DC1C4;
$sea-serpent-transparent: #4DC1C470;
$off-white: #FCFCFC;
$gray: #C4C4C4;
$gray-transparent: #C4C4C470;
$heads-up-fuschia: #F50FA9;

.listing-form {

  .form-banner {
    padding: 1rem;
    text-align: center;
    background-color: $sea-serpent;
    color: $off-white;
    margin-bottom: 2rem;
  }

  form {
    width: 50%;
    margin: 0 auto;
  }

  input, textarea {
    border-radius: 15px;
    padding-left: 1rem;
  }

  label {
    margin-top: 1rem;
    font-size: large;
    font-weight: bold;
  }

  button {
    background-color: $sea-serpent;
    border-color: $sea-serpent;
    margin-bottom: 5rem;
  }
}

.compose-message {

  #chat-box {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
  }

  input {
    width: 80%;
    height: 3rem;
    text-align: left;
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 3rem;
    border: none;
    border-radius: 50%;
    background-color: $sea-serpent;
    margin-left: 1rem;

    &:hover {
      background-color: $gray-transparent;
    }

    &:active {
      color: $off-white;
    }

  }
}
