//Styling for styling used across multiple pages
$title-font-stack: 'Lobster', cursive;
$body-font-stack: 'Andika New Basic', sans-serif;
$sea-serpent: #4DC1C4;
$off-white: #FCFCFC;
$gray: #C4C4C4;

body,
html {
  font: 100% $body-font-stack;
  margin: 0 auto;
  width: 85vw;
  background-image: url(../images/background.png);
}

a {
  color: black;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:active {
    color:$sea-serpent;
  }
}
