//Styling for styling used across multiple pages, outside feeds and forms patterns
$title-font-stack: 'Lobster', cursive;
$body-font-stack: 'Andika New Basic', sans-serif;
$sea-serpent: #4DC1C4;
$sea-serpent-transparent: #4DC1C470;
$off-white: #FCFCFC;
$gray: #C4C4C4;
$gray-transparent: #C4C4C470;

body,
html {
  font: 100% $body-font-stack;
  margin: 0 auto;
  background-image: url(../images/background.png);
}

a {
  color: black;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:active {
    color:$sea-serpent;
  }
}

img {
  width: 360px;
  height: 360px;
  border-radius: 15px;
}

button {
  padding: 0 1rem;
  border: 4px $gray outset;
  border-radius: 15px;
  background-color: $off-white;

  &:hover {
    background-color: $gray;
  }

  &:active {
    background-color: $sea-serpent;
    border-color: $sea-serpent;
  }
}

form {
  text-align: left;
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-bottom: 5rem;

  input {
    margin-bottom: 2rem;
    text-align: center;
    img {
      width: 360px;
      height: 360px;
    }
  }
}

.is-catch {
  align-items: baseline;
  justify-content: space-between;
  width: 10rem;
  display: flex;

}
