//styling for layouts on index.ejs
$title-font-stack: 'Lobster', cursive;
$body-font-stack: 'Andika New Basic', sans-serif;
$sea-serpent: #4DC1C4;
$off-white: #FCFCFC;
$gray: #C4C4C4;

.hero-banner {
  background-color: $off-white;
  display: flex;
  justify-content: center;
  align-items: center;

  article {
    text-align: center;
    font-size: 2rem;
    padding-right: 2rem;
  }

  .welcome-message {
    padding: 0 5vw;
    width: 30vw;
  }

  #cost-search {
    display: none;
    font-size: 1.5rem;

    form {
      text-align: center;
      width: 40vw;
    }

    p {
      font-weight: bold;
    }

    button {
      margin: 2rem auto 0;
      width: 40%;
    }
  }

  img {
    width: 40%;
    height: 40%;
    border-radius: none;
  }
}

.listing-tiles {
  width: 85vw;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  .tile {
    display: flex;
    flex-direction: column;
    width: 360px;
    background-color: $sea-serpent;
    margin:0em 3.5rem 3.5rem;
    text-align: center;
    border-radius: 15px;

    img {
      width: 360px;
      height: 360px;
    }

    button, form {
      margin: 0 auto;
    }
  }
}
