$title-font-stack: 'Lobster', cursive;
$body-font-stack: 'Andika New Basic', sans-serif;
$sea-serpent: #4DC1C4;
$sea-serpent-transparent: #4DC1C470;
$off-white: #FCFCFC;
$gray: #C4C4C4;
$gray-transparent: #C4C4C470;

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75vw;
  margin: 0 auto;

  h1 {
    font-size: 4rem;
    font-family: $title-font-stack;
    color: black;
  }

  #nav-buttons {
    a {
      font-size: 1.5em;
      color: black;
      font-style: none;
      text-decoration: none;
      background-color: $sea-serpent;
      border: 4px outset $sea-serpent;
      border-radius: 15px;
      box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
      padding: 0 1.5rem;

      &:hover {
        border: 4px outset $off-white;
      }

      &:active {
        color: $off-white;
      }
    }

    padding: 0.5em 1.8em;
    margin: 0 0.3em;
  }
}

#logout {
  position: fixed;
  top: 0px;
  right: 0px;
  border: none;
  background-color: rgba(255,255,255,0.2);
  color: red;
  font-size: larger;
}
